# Файл .gitignore, заставляет Git игнорировать
# файлы и директироии, указаные пользователем папку


# .terraform- директория, которую Terraform использует в качестве временной рабочей папки
.terraform

# *.tfstate - файлы в которых Terraform хранит состояние
*.tfstate
*.tfstate.backup

# .idea - директория, которая используется для IDE IntelliJ
.idea

# .aws/credentials - директория, в которой хранятся ключи для вохда на аккаунт AWS
.aws